@media(max-width: 980px) {
    .hero-home {
        height: 100vh;
        
        .inner-text {
            width: 100%;
        }
    }
    
    .contact-header {
        .inner-text {
            padding-top: 250px;
        }
    }

    .map-style {
        height: 300px;
      }
}