// Body
body {
    overflow-x: hidden;
}

// NAvbar
.nav {
    --#{$prefix}nav-link-padding-x: .75rem;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    width: 100%;
    z-index: 1;

    .nav-link {
        --#{$prefix}nav-link-color: #fff;
        --#{$prefix}nav-link-hover-color: #f4181c;
    }
}

.dropdown-menu {
    --#{$prefix}dropdown-padding-y: 0;
}

.contact-header {
    background-image: linear-gradient(65.68deg, rgba(0, 8, 29, 0.6) 9.51%, rgba(53, 13, 49, 0.6) 72.89%, rgba(132, 5, 25, 0.6) 101.01%),linear-gradient(102.21deg, rgba(0, 0, 0, 0.04) 16.09%, rgba(1, 1, 1, 0.17) 39.27%, rgba(1, 1, 1, 0.24) 64.25%, rgba(4, 4, 4, 0.8) 96.63%),url('../../assets/images/contact-hero.png');
    height: 300px;
    background-position: center center;
    background-size: cover;

    .inner-text {
        padding-top: 120px;
    }
}

// hero-home
.hero-home{
    background-image: linear-gradient(65.68deg, rgba(0, 8, 29, 0.6) 9.51%, rgba(53, 13, 49, 0.6) 72.89%, rgba(132, 5, 25, 0.6) 101.01%),linear-gradient(102.21deg, rgba(0, 0, 0, 0.04) 16.09%, rgba(1, 1, 1, 0.17) 39.27%, rgba(1, 1, 1, 0.24) 64.25%, rgba(4, 4, 4, 0.8) 96.63%),url('../../assets/images/hero.png');
    height: 100vh;
    background-position: center center;
    background-size: cover;

    .inner-text {
        width: 70%; 
        margin: 0 auto;
    }
    
    .inner-button {
        .form-control {
            padding: .75rem .75rem;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

// Iptv
.iptv, .vod, .livetv, .aggregation, .livetv-main, .fast-main, .ads-main{
    background-color: $dark-1;
}

// map
.map-style {
    height: 500px;
    margin-bottom: -7px;
}

// footer
footer li a {
    --#{$prefix}link-color: #fff;   
}

.footer-widget-4 {
    .social-icons {
      a {
        color: $dark;
        padding: 7px 14px;
        border-radius: 4px;
        background-color: $white;
  
        &:hover {
          color: #fff;
          background-color: $color-1;
        }
      }
    }
  }

.dropdown:hover .dropdown-menu{
    display: block;
}

// accordion
.accordion-button {
    background-color: #f0f8ff;
}

// go-top
.go-top.active {
    bottom: 4rem;
    opacity: 1;
    visibility: visible;
  }
  
  .go-top {
    position: fixed;
    cursor: pointer;
    bottom: 0;
    right: 2.3rem;
    background-color: var(--#{$prefix}primary);
    border-radius: 8px;
    z-index: 4;
    width: 40px;
    text-align: center;
    height: 40px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .9s;
    transition: .9s;
  }  
  
  .go-top:hover, .go-top:focus {
    background-color: $color-1;
    color: #ffffff;
}

// faq
.faq {
    background-color: #f0ffff;
}

// livetv-feature
.livetv-feature, .feature-fast, .feature-ads {
    .inner {
        background-color: #fff;
        padding: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 7px solid rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        &:hover {
            svg {
                color: $color-1;
            }

            border: 1px solid $color-1;
            border-bottom: 7px solid $color-1;
        }
    }
}