.vod-hero {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../../assets/images/hero.png');
    height: 550px;
    background-position: center center;
    background-size: cover;
}

.vod-whyus {
    .inner {
        padding: 1rem;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 6px;
        border-bottom: 5px solid rgba(0,0,0,0.2);
        
        &:hover {
            svg {
                color: $color-1;
            }

            border: 1px solid $color-1;
            border-bottom: 5px solid $color-1;
        }
    }
}

.vod-section {
    background-color: #f0f8ff;
}